.git
.gitignore
.idea
.vscode

.env
.env.*
!.env.example

*.log
*.tmp
*.swp

bin/
dist/
build/
coverage/

*.exe
*.dll
*.so
*.dylib

.gocache*

docker-compose*.yml
README.md
Microservice-Devices-Management-Service.iml
