PORT=8080
SERVICE_NAME=device-management-service
APP_ENV=azure
CONFIG_SERVICE_URL=https://<config-service-domain>
DATABASE_URL=<postgresql-connection-string>

KAFKA_BOOTSTRAP_SERVERS=<namespace>.servicebus.windows.net:9093
KAFKA_BROKERS=<namespace>.servicebus.windows.net:9093
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_USERNAME=$ConnectionString
KAFKA_PASSWORD=Endpoint=sb://<namespace>.servicebus.windows.net/;SharedAccessKeyName=<policy>;SharedAccessKey=<key>;EntityPath=device.events
KAFKA_SASL_USERNAME=$ConnectionString
KAFKA_SASL_PASSWORD=Endpoint=sb://<namespace>.servicebus.windows.net/;SharedAccessKeyName=<policy>;SharedAccessKey=<key>;EntityPath=device.events

KAFKA_ENABLED=true
KAFKA_AUTO_CREATE_TOPICS=false
KAFKA_CLIENT_ID=device-management-service
KAFKA_CONSUMER_GROUP=device-management-group
KAFKA_WRITE_TIMEOUT_MS=2000
KAFKA_TOPIC_DEVICE_EVENTS=device.events
TOPIC_DEVICE_EVENTS=device.events

GIN_MODE=release
