PORT=8083
SERVICE_NAME=device-management-service
CONFIG_SERVICE_URL=http://localhost:8090
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?sslmode=require
API_GATEWAY_ALLOWED_ORIGIN=http://localhost:8081
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8081
