PORT=8083
APP_ENV=local
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?sslmode=require
DB_DRIVER=postgres
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=device-management-service
KAFKA_CONSUMER_GROUP=device-management-group
API_GATEWAY_ALLOWED_ORIGIN=http://localhost:8080
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:5173,http://localhost:8080
