PORT=8080
SERVICE_NAME=device-management-service
APP_ENV=local
CONFIG_SERVICE_URL=
DATABASE_URL=
AUTO_MIGRATE=false

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_BROKERS=
KAFKA_SECURITY_PROTOCOL=
KAFKA_SASL_MECHANISM=
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=

KAFKA_ENABLED=false
KAFKA_AUTO_CREATE_TOPICS=false
KAFKA_CLIENT_ID=device-management-service
KAFKA_CONSUMER_GROUP=device-management-group
KAFKA_WRITE_TIMEOUT_MS=2000
KAFKA_TOPIC_DEVICE_EVENTS=device.events
TOPIC_DEVICE_EVENTS=device.events

API_GATEWAY_ALLOWED_ORIGIN=
CORS_ALLOWED_ORIGINS=
GIN_MODE=release
